<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <!-- 
    To use API key authentication, create .nuget.config from this template:
    
    <packageSourceCredentials>
      <nuget.org>
        <add key="Username" value="your-username" />
        <add key="ClearTextPassword" value="your-api-key" />
      </nuget.org>
    </packageSourceCredentials>
    
    OR use environment variable NUGET_API_KEY in build scripts
  -->
</configuration>

